@media only screen and (max-width: 320px) {
    .image-section {
        width: 100vw;
        height: 25vh;
        background-image: url("/home/saffetgokcen/odin/odin-sign-up-form-project/images/victor-toweet-L7g3Ogj2CFc-unsplash_small.jpg");
        background-size: cover;
        position: relative;
    }
    .image-credit {
        position: absolute;
        font-size: 0.5rem;
        font-weight: bold;
        color: rgb(21, 230, 245);
        top: 22vh;
        left: 26vw;
    }
    .form-section {
        width: 100vw;
        height: 75vh;
    }
}