@media only screen and (max-width: 320px) {
    .image-section {
        width: 100vw;
        height: 25vh;
        background-image: url("/home/saffetgokcen/odin/odin-sign-up-form-project/images/victor-toweet-L7g3Ogj2CFc-unsplash_small.jpg");
        background-size: cover;
        position: relative;
    }
    .image-credit {
        position: absolute;
        font-size: 0.4rem;
        font-weight: bold;
        background-color: black;
        color: yellow;
        top: 24vh;
        left: 0vw;
    }
    a {
        padding: 2px 1px 0;
    }
      
    a:link {
        color: yellow
    }
      
    a:visited {
        color: yellow;
    }
      
    a:focus {
        background: black;
    }
      
    a:hover {
        background: black;
    }
      
    a:active {
        color: red;
    }
    
    .form-section {
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
    }
    .intro-part {
        color: black;
        font-weight: bold;
        padding: 1rem;
    }
    .form-part {
        padding: 1rem;
    }
}